<%- include('../layouts/admin/header.ejs') -%>
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-6 grid-margin stretch-card">
                <div class="card" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);"> 
                    <div class="card-body">
                        <h4 class="card-title pb-5">Add Banner</h4>
                        <form class="forms-sample" method="post" id="addbannerform" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Type</label>
                                <input type="text" class="form-control" name="type" id="type">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" name="description" id="description">
                            </div>
                            <div class="form-group">
                                <label>Upload Image</label>
                                <input type="file" class="form-control" id="image" name="image" accept="image/*">
                            </div>
                            <p class="text-danger mt-3" id="error"></p>
                            <button type="submit" class="btn btn-primary mt-4">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/admin/footer.ejs') -%>
        <script>
            document.getElementById('addbannerform').addEventListener('submit', (e) => {
                e.preventDefault();
                let type = document.getElementById('type').value.trim();
                let description = document.getElementById('description').value.trim();
                let image = document.getElementById('image');
                let error = document.getElementById('error');
                error.innerText = "";
                let valid = true;
                if (type == "") {
                    error.innerText = "Enter type";
                    valid = false;
                } else if (description == "") {
                    error.innerText = "Enter description";
                    valid = false;
                } else if (image.files.length == 0) {
                    error.innerText = "Upload an image";
                    valid = false;
                }
                if (valid == true) {
                    addBanner();
                }
            })

            function addBanner() {
                console.log("heyyyyyyyyyyy")
                let form = document.getElementById('addbannerform');
                let formdata = new FormData(form);
                $.ajax({
                    method: 'POST',
                    url: '/admin/addBanner',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            swal("Banner added!");
                            setTimeout(() => {
                                window.location.href = '/admin/banner'
                            }, 2000)
                        } else if (response.error) {
                            swal("Something went wrong!")
                        }
                    },
                    error: function (err) {
                        console.log(err);
                    }
                })
            }
        </script>