<%- include('../layouts/user/header.ejs') -%>
    <div class="container d-flex align-items-center justify-content-center" style=" min-height: 80vh; ">
        <div><img src="/user/img/giftbox.jpg" style="width: 18rem;"></div>
        <div>
            <h3 style="color: rgb(162, 14, 63);"><b>Your order has been placed!!</b></h3>
            <a href="/" class="btn mt-3" style="background-color: rgb(201, 20, 89);color: white;">GO HOME</a>
        </div>
    </div>

    <%- include('../layouts/user/footer.ejs') -%>