<section>
    <div class="d-flex">
    <div class="border border-2 m-3 p-3 sidebar" style="width:15rem">
        <ul style="list-style-type: none;">
            <a href="/profile"><li>Profile</li></a>
            <a href="/address"><li>Addresses</li></a>
            <a href="/orders"><li>Orders</li></a>
            <a href="/coupons"><li>Coupons</li></a>
            <a href="/wallet"><li>Wallet</li></a>
            <a href="/logOut" class="btn mt-5" style="background-color: rgb(93, 93, 93);"><b>Log out</b></a>
        </ul>    
    </div>
    